@model CinemaSystemManagement.Models.ViewModels.MovieVM


<link href="~/css/admin-movie.css" rel="stylesheet" />


<form method="post" enctype="multipart/form-data" class="container py-5">

    <h2>Add Movie</h2>

    <input name="Movie.Name" class="form-control mb-3" placeholder="Name" required />

    <textarea name="Movie.Description" class="form-control mb-3" placeholder="Description"></textarea>

    <input name="Movie.Price" type="number" step="0.01" class="form-control mb-3" placeholder="Price" required />

    <input name="Movie.Status" class="form-control mb-3" placeholder="Status" />

    <!-- Main Image -->
    <label>Main Image</label>
    <input type="file" name="MainImg" class="form-control mb-3" />

    <!-- Sub Images -->
    <label>Sub Images</label>
    <input type="file" name="SubImgs" multiple class="form-control mb-3" />

    <!-- Category -->
    <select name="Movie.CategoryId" class="form-control mb-3">
        @foreach (var c in Model.Categories)
        {
            <option value="@c.Id">@c.CategoryName</option>
        }
    </select>

    <!-- Actors -->
    <select name="actorIds" multiple class="form-control mb-3">
        @foreach (var a in Model.Actors)
        {
            <option value="@a.Id">@a.Name</option>
        }
    </select>

    <button class="btn btn-success w-100">Create</button>

</form>