@model CinemaSystemManagement.ViewModels.ProfileChangePasswordVM

<div class="container mt-5" style="max-width:500px;">

    <h2 class="text-center mb-4"> Change Password</h2>

    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <form asp-action="ChangePassword" method="post">

        <div class="mb-3">
            <label>Current Password</label>
            <input asp-for="CurrentPassword" type="password" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="btn btn-success w-100">
            Update Password
        </button>

    </form>

    <div class="text-center mt-3">
        <a asp-action="Index">Back to Profile</a>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}