@model List<CinemaSystemManagement.Models.Category>

<link href="~/css/admin-movie.css" rel="stylesheet" />

<div class="container py-5">

    <h2 class="text-center mb-5"> Categories</h2>

    <div class="row g-4">

        @foreach (var cat in Model)
        {
            var img = cat.Products.FirstOrDefault(m => m.MainImg != null)?.MainImg ?? "default.jpg";

            <div class="col-lg-4 col-md-6 col-sm-12">

                <a asp-area="Customer"
                       asp-controller="Home"
                       asp-action="CategoryMovies"
                       asp-route-id="@cat.Id">

                    <div class="movie-card">

                        <img src="/images/movies/@img"
                             onerror="this.src='/img/default.jpg'"
                             class="movie-img" />

                        <div class="movie-info text-center">
                            <div class="movie-name">@cat.CategoryName</div>

                            <div class="movie-btn">
                                View Movies
                            </div>
                        </div>

                    </div>

                </a>

            </div>
        }

    </div>

</div>