@using CinemaSystemManagement.Models
@model List<Movie>

<link href="~/css/admin-movie.css" rel="stylesheet" />

<div class="container py-5">



    <h2 class="text-center mb-5">🎬 @ViewBag.CategoryName</h2>

    <div class="row g-4">

        @foreach (var movie in Model)
        {
            
            <div class="col-lg-4 col-md-6 col-sm-12">

                <a asp-area="Customer"
                       asp-controller="Home"
                       asp-action="Details"
                       asp-route-id="@movie.Id">

                    <div class="movie-card">

                        <img src="/images/movies/@movie.MainImg"
                             onerror="this.src='/img/default.jpg'"
                             class="movie-img" />



                        <div class="movie-info">
                            <div class="movie-name">@movie.Name</div>

                            <div class="movie-btn">
                                Details
                            </div>
                        </div>

                    </div>

                </a>

            </div>
        }

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}