@model List<CinemaSystemManagement.Areas.Customer.Models.Category>

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet" />



<div class="container py-5">

    <h2 class="text-center mb-5">🎭 Categories</h2>

    <div class="category-container">

        @foreach (var cat in Model)
        {
            var img = cat.Movies.FirstOrDefault(m => m.MainImg != null)?.MainImg ?? "default.jpg";

            <a asp-area="Customer"
                   asp-controller="Home"
                   asp-action="CategoryMovies"
                   asp-route-id="@cat.Id">

                <div class="category-card">

                    <div class="img-wrapper">
                        <img src="/images/movies/@img"
                             class="category-img"
                             onerror="this.src='/images/default.jpg'" />
                    </div>

                    <div class="overlay"></div>

                    <div class="category-name">
                        @cat.CategoryName
                    </div>

                </div>

            </a>
        }

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}