@model CinemaSystemManagement.Models.ViewModels.MovieVM
<form method="post" enctype="multipart/form-data" class="container py-5">

    <input name="Movie.Name" class="form-control mb-3" placeholder="Name" />

    <textarea name="Movie.Description" class="form-control mb-3"></textarea>

    <input name="Movie.Price" class="form-control mb-3" placeholder="Price" />

    <input name="Movie.Status" class="form-control mb-3" placeholder="Status" />

    <input type="file" name="MainImg" class="form-control mb-3" />

    <input type="file" name="SubImgs" multiple class="form-control mb-3" />

    <select asp-for="Movie.CategoryId"
            class="form-control mb-3"
            asp-items="@(new SelectList(Model.Categories, "Id", "CategoryName"))">
    </select>

    <button class="btn btn-primary">Save</button>

</form>