@model CinemaSystemManagement.ViewModels.ForgetPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow p-4" style="width: 400px;">

        <h3 class="text-center mb-3"> Forgot Password</h3>

        <p class="text-muted text-center">
            Enter your email or username and we’ll send you a reset link.
        </p>

        <form asp-action="ForgetPassword" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

            <div class="form-group">
                <label asp-for="EmailOrUserName"></label>
                <input asp-for="EmailOrUserName" class="form-control" placeholder="Enter Email or Username" />
                <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">
                Send Reset Link 
            </button>

        </form>

        <div class="text-center mt-3">
            <a asp-action="Login">Back to Login</a>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}