<div class="container text-center mt-5">
    <h2 class="text-success">Payment Successful ✅</h2>

    <a href="/Customer/Home/Movie" class="btn btn-primary mt-3">
        Back to Movies
    </a>
</div>